@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

* {
  box-sizing: border-box;
}

body {
  background: #BD3632;
}

main {
  width: 600px;
  height: 600px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2%;
}

header {
  color: #DA4440;
  font-size: 65px;
  letter-spacing: 17px;
  font-family: 'quicksand';
  text-align: center;
}

.section {
  width: 30%;
  height: 30%;
  float: left;
  background: #ddd;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 110px;
  font-family: 'quicksand';
  text-align: center;
  color: #C4C815;
}

.section:nth-child(3n) {
  margin-right: 0%;
}

.section span {
  color: #00A7C5;
}
